/*Contact Us Page Style*/
header h1{
    text-align: center;
    margin-bottom: 20px;
    
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

nav ul li a:hover{
    color: #00A693;
    background-color: #F5F5DC;
    padding: 5px 10px;
    border-radius: 5px;
}
#contact-form {
    max-width: 800px;
    margin: 50px;
    background-color:#F5F5DC ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#contact-form h2 {
    text-align: center;
    color: #00A693;
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    color:#000000 ;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #00827F; 
    border-radius: 5px;
    transition: all 0.3 ease;
    background-color: #FFFFFF;
}

#contact-form input:focus,
#contact-form textarea:focus{
    border-color: #98FF98;
    box-shadow: 0 0 10px rgba(152, 255, 152, 0.5);
}

#contact-form textarea{
    height: 150px;
    resize: none;
}

#contact-form button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color:#93C572 ;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #00827F;
}

.form-success {
    color: #00A693;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.form-error {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    display: none;
}
footer{
    text-align: center;
    background-color: rgb(0, 166, 147);;
    
}

#submissionsDisplay{
    max-width: 800px;
    margin: 50px;
    background-color: #E3BC9A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#submissionsDisplay h2{
    text-align: center;
    color: #006D5B;
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration: underline;
}

#submissionsDisplay p{
    font-size: 1.2rem;
    color: #000000;
    background-color: #F5F5DC;
    padding: 10px;
    border-left: 5px solid #00A693;
    margin-bottom: 15px;
    border-radius: 5px;
}



#submissionsDisplay p:last-child{
    margin-bottom: 0;
}
@media(max-width: 600px) {
    #contact-form {
        padding: 10px;
    }

    #contact-form h2 {
        font-size: 1.5rem;
    }
}