body {
  background-color: beige;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.top-image {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0;
  overflow: hidden;
}

.top-text {
  font-size: x-large;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  font-family: sans-serif;
}

.top-text h4 {
  font-weight: bold;
  width: 200px;
  height: 100px;
  color: rgb(0, 166, 147);
  font-family: sans-serif;
  background-color: rgba(0, 166, 147, 0.338) ;
  margin-bottom: unset;
}

.options button:hover {
  background-color:  rgb(0, 166, 147);
  color: black;
}

.options button {
  background-color: black;
  color: rgb(0, 166, 147);
  border: 2px solid rgb(0, 166, 147);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.options {
  text-align: center;
  font-family: sans-serif;
}

select:not(:placeholder-shown)~label {
  top: -10px;
  font-size: 12px;
  padding: 0 4px;
  color: #00ac98;
}

.form-content {
  margin: auto;
  padding: 5px;
  max-width: 400px;
  font-family: sans-serif;
  position: relative;
  margin-bottom: 10px;

}
form {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid rgb(0, 166, 147);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0, 166, 147);
  background-color: #f9f9f9;
}

.form-content {
  margin: auto;
  padding: 5px;
  max-width: 400px;
  font-family: sans-serif;
  position: relative;
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
  border-color:rgb(0, 166, 147);
  outline: none;
  box-shadow: 0 0 5px rgb(0, 166, 147);
}

button[type="submit"] {
  width: 100%;
  background-color: black;
  color: rgb(0, 166, 147);
  border: 2px solid rgb(0, 166, 147);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  
}

button[type="submit"]:hover {
  background-color:  rgb(0, 166, 147);
  color: black;
}
